
<article class="post">
  <div class="title">
    <h1>{{title}}</h1>
    <span>{{content}}</span>
  </div>
  <div class="meta">
    by
    {{user.username}}
    on
    {{format_date createdAt }}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>